:root{
    --color-primary : #fd1d1d;
    --color-secondary : #50d8b2;
    --color-text : #7babb2;
    --color-sub-header : #206761;
    --color-flow1 : #1b9c79;
    --color-flow2: #27cec5;
    --color-header : #f7f7f7;
}