.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.form {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
    box-shadow: 2px 2px 8px 8px rgba(25,25,25,0.2);
    width: 800px;
    padding: 1rem;
    background-color: aliceblue;
    gap : 0.5rem;
    border-radius: 10px;
}
.button{
    width: 100px;
}